apiVersion: v1
kind: Secret
metadata:
  name: dividend-anatomy-secret
  namespace: dividend-anatomy
type: Opaque
stringData:
  OCI_MYSQL_ADMIN_USERNAME: "your_db_username_here"
  OCI_MYSQL_ADMIN_PASSWORD: "your_db_password_here"
  POLYGON_TOKEN: "your_massive_api_key_here"
  TWELVEDATA_TOKEN: "your_twelvedata_token_here"
